* {
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: #EEE;
    font-family: sans-serif;
    margin: 1ch;
}

#critico-form {
    margin: 0 auto;
    width: fit-content;
}

.tipo_critico {
    border: thin solid;
    padding: 0.6ch 0.5ch 0.5ch 0.5ch;
    user-select: none;
    cursor: pointer;
}

.tipo_critico[tipo="acerto"]:has(input:checked) {
    background-color: green;
}

.tipo_critico[tipo="erro"]:has(input:checked) {
    background-color: red;
}

#container-tabelas {
    display: flex;
    gap: 1ch;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

@media (orientation: portrait) {
    #container-tabelas {
        flex-direction: column;
        align-items: initial;
    }
}

#container-tabelas table {
    flex-grow: 1;
}

table {
    border: thin solid;
    padding: .25ch;
}

table th {
    border: thin solid;
    padding: .5ch 2ch;
    user-select: none;
    cursor: pointer;
}

table tbody tr:nth-child(odd) {
    background-color: #333;
}

table td {
    padding: .5ch;
    text-align: center;
}

select, input, button {
    font-size: inherit;
}